body{


  margin: 0;
  height: 100vh;
  background: linear-gradient( 45deg,#6037DB,#6E58A3,#3A0ECC,#778A63);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }

	}

	h1{color: #130F54;
		font-family: "Lucida Console", Monaco, monospace;
		font-size:40px;
		background-color: #F5E96E;
		text-align: center;
		padding-top: 50px;
		margin-left: 100px;
		margin-right: 100px;
	}

	p{color: #f8fbcd;
	    font-family: Helvetica;
	    text-align:  center;
                     
	}

	 img{display: block;
	    margin: auto;
	    border border-style: dotted;
	    border color: #823612;
        border-width: 15PX;
        padding:5px;
        margin-top:30px;
        width: 200px;
    }

    ul{list-style-type: none;
       margin:0px;
       padding: 8px;
       overflow: hidden;
       background-color: #A8A7DB;}

    ul li{float:left;
        padding-left: 30px}



     ul  li a {display:block;
        color: black;
        text-decoration: none;
        text-align: center;
		word-spacing: 5px;
        font-family: courier;
        font-size: 20px;
        font-style:15px;
			   
      
          }


ul li a:hover {background-color: #E8E6BC;}
