body{


  margin: 0;
  height: 100vh;
  background: linear-gradient( 50deg,#6037DB,#6E58A3,#3A0ECC,#778A63);
  background-size: 600% 600%;
  animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }

}

	h1{color: #FFFFFF;
		font-family: Papyrus, fantasy;
		font-size:80px;
		background-color: #ADA726;
		text-align: center;
		padding-top: 50px;
		margin-left: 100px;
		margin-right: 100px;
	}

	p{color: #000000;
	    font-family: Copperplate, Papyrus, fantasy;
	    text-align: center;
	  
                     
	}
		
	   img {
  display: block;
  width: 30%; /* or specific width */
  margin: auto;
}   
		
    }

    ul{list-style-type: none;
       margin:20px;
       padding:0px;
       overflow: hidden;
       background-color:#B7C443;}

    ul li{float:left;
        padding-left: 30px}



     ul  li a {display:block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-family: Copperplate, Papyrus, fantasy;
        font-size: 20px;
        font-style:15px;
      
          }


ul li a:hover {background-color: #F7F19C;}

